* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
}

nav{
    padding-left: 0.5rem;
}