.sidebar, .sidebar button, .chat-section, textarea{
    padding: 0.5em
}

.hlg{
    font-weight: bold;
}

.sidebar{
    background-color: darkslategrey;
    color: #fff;
}

.sidebar button {
    width: 100%;
}

.chat-section{
    background-color: rgb(235, 235, 235);
    position: relative;
}

.chat-bottom{
    position: absolute;
    bottom: 0;
}

textarea{
    max-height: 200px;
    max-width: 800px
}

.dialogue{
    border: darkslategrey 2px dotted;
    padding: 1em;
    margin: 1em;
}