.sidebar,
.sidebar button,
.chat-grid,
textarea {
    padding: 0.5rem
}


.sidebar {
    background-color: darkslategrey;
    color: #fff;
}

.sidebar button {
    width: 100%;
}

.chat-grid {
    background-color: rgb(235, 235, 235);
    position: relative;
    display: grid;
    grid-template-rows: auto 60% 25%;
}


/******GRID HEADER******/
.chat_header {
    /* border: green 4px solid */
}


/******GRID DIALOGUES******/
/* chat_dialogues > dialogue-container > dialogue + token */
.chat_dialogues {
    /* border: blue 4px solid; */
    overflow-y: auto;
}


.dialogue-container > .token, .parameter {
    padding-left: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

.dialogue {
    border: darkslategrey 2px dotted;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
}

.token, .parameter {
    font-size: smaller;
    color: orange;
}

.token::after {
    content: " tokens";
}


/******GRID BOTTOM/TEXTAREA******/
.chat_bottom {
    /* border: 4px solid red; */
    width: 100%;
}

textarea {
    max-height: 200px;
    max-width: 800px
}